<H1>TP-Link Smart Plug Settings</H1>
<div id="info" class="alert alert-warning">
    <p>Here you are able to control the features of your TP-Link smart plug. You will need to <b>STATICALLY</b> assign your smart devices IP address before continuing.</p>
</div>
    // todo Add a drop down option to allow the user to select the plug type they are using
    // Have everything hidden then only show the required data based on the options provided

    <div id="plugSettings">
        <p><b><u>Plug IP Address:</u></b></p>
        <input type="text"  id="address" class="input-box-level" data-bind="value: settings.plugins.TpLinkAutoShutdown.url">
        <p><button type="button" class="btn btn-warning" id="update">Update connection!</button></p>
    </div>
    <div id="device_info">
        <h3>Device Info</h3>
        <p><b><u>Device name:</u></b></p>
        <input type="text" id="deviceName" data-bind="value: settings.plugins.TpLinkAutoShutdown.device" readonly>
        <p><b><u>Device firmware version:</u></b></p>
        <input type="text" id="firmwareVersion" data-bind="value: settings.plugins.TpLinkAutoShutdown.firmwareVersion" readonly>
    </div>
    <div id="options">
        <h3>Preferences</h3>
        <label class="options_input_label" for="autoMode">Auto-shutdown enabled
        <input type="checkbox" class="options_input_checkbox" id="autoMode" data-bind="checked: settings.plugins.TpLinkAutoShutdown.auto"></label>
    </div>
<div id="data_form">
</div>
