<H1>TP-Link Smart Plug Settings</H1>
<div id="info" class="alert alert-warning">
    <p>Here you are able to control the features of your TP-Link smart plug. You will need to <b>STATICALLY</b> assign your smart devices IP address before continuing.</p>
</div>
    <div id="plugSettings">
        <p><b><u>Plug IP Address:</u></b></p>
        <input type="text"  id="address" class="input-box-level" data-bind="value: settings.plugins.TpLinkAutoShutdown.url">
        <p><button type="button" id="update">Update connection!</button></p>
    </div>
    <div id="device_info">
        <h3>Device Info</h3>
        <p><b><u>Device name:</u></b></p>
        <input type="text" id="device_name" data-bind="value: settings.plugins.TpLinkAutoShutdown.deviceName" readonly>
    </div>
<div id="data_form">
</div>
